#jenkins {
    background-color: #222222;
}

#jenkins body,table,form,td,th,p {
    color: #aaa;
}
#jenkins .top-sticker-inner {
    background-color: #e34234;
    color: white;
}

#jenkins .bigtable th {
    background-color: #e34234;
}

#jenkins a:link {
    color: #f36254;
}

#jenkins #breadcrumbs LI A:hover, #crumbs LI A:focus {
    color: white;
}