#jenkins {
    background-color: #222222;
}

#jenkins body,table,form,td,th,p {
    color: #aaa;
}
#jenkins .top-sticker-inner {
    background-color: #e34234;
    color: white;
}

#jenkins .bigtable th {
    background-color: #e34234;
}

#jenkins a:link {
    color: #f36254;
}

#jenkins #breadcrumbs LI A:hover, #jenkins #crumbs LI A:focus {
    color: white;
}

#jenkins .pane-header {
    background-color: #e34234;
    color: white;
}

#jenkins .pane-header a:link {
    color: white;
}

#jenkins .tabBar [type="radio"]:checked ~a  {
    background-color: #e34234;
    color: white;
}