#jenkins {
    background-color: #222222;
}


#jenkins body,table,form,td,th,p {
    font-family: Open Sans, sans-serif;
    color: #aaa;
}

body#jenkins {
    font-family: Open Sans, sans-serif;
    color: #aaa;
}

#jenkins #description {
    margin-top: 14px;
    margin-bottom: 40px;
}

#jenkins #tasks {
    display: block;
    padding: 4px 12px 4px;
    border: 4px;
    border-radius: 4px 24px 4px 24px;
}

#jenkins #tasks .task {
    border-bottom: 1px solid #f36254;
    margin-bottom: 0px;
    padding: 2px 0;
}

#jenkins #tasks .task:last-child {
    border-bottom: none;
}

#jenkins #tasks .task:hover {
    background: #f36254;
}

#jenkins a:link {
    color: #f36254;
    text-decoration: none;
}

#jenkins a:visited {
    color: #d33224;
}

#jenkins a.model-link.inside {
    font-weight: bold;
}

#jenkins .top-sticker-inner {
    background-color: #e34234;
    color: white;
}
#jenkins .top-sticker-inner a:link {
    color: white;
}
#jenkins .top-sticker-inner a:visited {
    color: white;
}

#jenkins footer {
    background: #222;
    border: none;
}

#jenkins .bigtable th {
    background-color: #e34234;
}

#jenkins table.sortable a.sortheader {
    color: white;
}

/* ---- INPUT ---- */

#jenkins #buildHistoryPage .build-search-row input {
    background-color: #710202;
    color: yellow;       
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 0 0 5px #e34234 inset
}

#jenkins #search-box {
    background-color: #710202;
    color: yellow;
    box-shadow: 0 0 5px #e34234 inset
};

#jenkins span.clear {
    position: absolute;
    top: 4px;
    right: 100px;
    color: white;
}

.setting-input {
    background-color: #710202;
    color: yellow;
    box-shadow: 0 0 5px #e34234 inset
}

DIV.textarea-handle {
    background-color: #710202;
    border: none;
}

#jenkins .yui-button .btn, #jenkins .yui-button button {
    background: #427142;
    color: white;
    border: #028102 solid 1px;
    border-radius: 4px;
}
#jenkins .yui-button .btn:hover, #jenkins .yui-button button:hover {
    background: #029102;
    color: white;
    border-radius: 4px;
}

#bottom-sticker {
    background: #333;
    border-radius: 0 0 24px 24px;
}

.bottom-sticker-edge {
    background-image: linear-gradient(#222, #333);    
}

.bottom-sticker-inner {
    background: transparent;
    padding: 10px 45px;
}


.bottom-sticker-edge

/* ---- END INPUT -=============================================================================================================================--- */

/*---- Alerts ---- */

.alert-info {
    background: rgb(217, 237, 247, 0.3);
    color: #81c0df;
}

.alert-warning {
    background-color: rgb(252, 248, 157, 0.3);
    color: #dabd8b;
}

.alert-danger {
    background-color: rgb(180, 50, 50, 0.3);
    color: #f9a4a2;
}
/*---- End Alerts --===========================================================================================================================-- */

/*--- Managing options ---- */

.manage-option dl dd {
    color: #888;
}
.manage-option:hover {
    background: #141;
}

/*--- Managing options --========================================================================================================================-- */

#jenkins #breadcrumbBar, #jenkins #footer-container, #jenkins .top-sticker-inner {
    background-color: e34234;
}

#jenkins #breadcrumbBar>div:first-of-type {
    background: #222;
}

#jenkins #breadcrumbs {
    border-bottom: none;
}

#jenkins #breadcrumbs LI A, #jenkins #breadcrumbs LI A:hover, #jenkins #crumbs LI A:focus {
    color: white;
}

#jenkins #breadcrumbs LI:hover {
    background-color: #e34234; 
    border: 1px solid white;
    border-bottom: #e34234;
    border-radius: 4px 4px 0 0;
    
}

#jenkins .pane-frame {
    border-color: #e34234;
    border-radius: 8px 8px 22px 4px;    
    color: white;
}

#jenkins .pane-header {
    background-color: #e34234;
    color: white;
    border: none;
}

#jenkins .pane-header a:link {
    color: white;
}

#jenkins .pane-footer {
    background-color: #333;
    border-top: none;
    border-radius: 0 0 22px 4px;
}

#jenkins .tabBar [type="radio"]:checked ~a  {
    border: 1px solid #e34234;
    border-bottom: none;
    background-color: #e34234;
    color: white;
}

#jenkins .tabBar .tab a.addTab {
    border: 1px solid #e34234;
}

#jenkins #projectstatus .header {
    border-bottom: 1px solid #e34234;
}

#jenkins table.stripped tr:nth-child(2n) {
    background: #333333;
}

#jenkins table.stripped tr:nth-child(2n+1) {
    background: transparent;
}

#jenkins table.stripped-odd tr:nth-child(2n) {
    background: #333333;
}

#jenkins table.stripped-odd tr:nth-child(2n+1) {
    background: transparent;
}

#jenkins table.stripped tr:hover, #jenkins table.stripped-even tr:hover, #jenkins table.stripped-odd tr:hover {
    background: #444444 !important;
}

#jenkins #visible-am-button {
    color: white;
}


/*---- TASKS ---- */
#jenkins #tasks {
    background: #e34234;
}

#jenkins #tasks a:link {
    color: white;
    font-weight: bold;
}

#jenkins #tasks a:visited {
    color: white;
}

/*---- END TASKS ---- */


/*---- RSS LINKS --- */

.build-rss-links a:nth-child(2n+1)::before {
    content: "\A";
    white-space: pre;
    width: 4px;
    height: 10px;
    display: block;
}

/*---- END RSS LINKS --- */

/*---- PIPELINE BOX ---- */

#jenkins #pipeline-box .table-box tr td {
    text-shadow: #000 0 1px 1px, #000 0 1px 2px;
}
#jenkins .jobsTable .stage-cell.FAILED .stage-wrapper {
    text-shadow: #000 0 1px 1px, #000 0 1px 2px;
}
#jenkins #pipeline-box .table-box .table-viewPort tr.totals .cell-color {
    color: white;
    text-shadow: #000 0 1px 1px, #000 0 1px 2px;    
}

#jenkins #pipeline-box .table-box .table-viewPort .stage-wrapper {
    border: 1px solid #ada;
}

#jenkins #pipeline-box .table-box {
    color: #fff;    
}

#jenkins .jobsTable .jobName .badge {
    background: #e34234;
}
#jenkins .jobsTable .jobName .badge a:link {
    color: white;
}
#jenkins .jobsTable .jobName .badge a:visited {
    color: white;
}

#jenkins #pipeline-box .table-box .table-viewPort .stage-start .cell-box .stage-start-time {
    border: none;
    border-radius: 12px 0 0 12px;
    background: rgba(0,0,0,0.3);
}
#jenkins .jobsTable .stage-start-time .date {
    background: transparent
}
#jenkins .jobsTable .stage-start-time .time {
    background: transparent
}
#jenkins .changeset-box.no-changes {
    text-shadow: #000 0 1px 1px, #000 0 1px 2px;
}

/*---- END PIPELINE BOX ---- */


